##
# Configuration file for Discord Orderbook Bot,
# for the fork by AltcoinBaggins
##

## Market-related settings
[market]

# The first of the currency pair
currency = vls

# The second of the currency pair
currency2 = sats

# Maximum number of orders per Discord user
maxorders = 2

## Bot-specific settings
[bot]

# Prefix that bot commands start with
prefix = !

# A list of channels names or id's where the bot will accept commands. 
# Add multiple values each on new line indented with at least one space,
# eg. auth_channels = one
#     two
#     three
#auth_channels = otc
auth_channels = 

## Authentication tokens
[secrets]
# Your Discord bot auth token goes here 
token = 